workflows/production/intelligent-learning-chatbot-unified.json
{
  "name": "Intelligent Learning Chatbot - Unified (All Phases)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot",
        "responseMode": "responseNode",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [260, 340],
      "webhookId": "chatbot-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.message}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "input-validation",
      "name": "Input Validation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 340]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "session-id",
              "name": "sessionId",
              "value": "={{$json.sessionId || $uuid()}}",
              "type": "string"
            },
            {
              "id": "user-message",
              "name": "userMessage",
              "value": "={{$json.message}}",
              "type": "string"
            },
            {
              "id": "user-id",
              "name": "userId",
              "value": "={{$json.userId || 'anonymous'}}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{$now.toISO()}}",
              "type": "string"
            },
            {
              "id": "enable-feedback",
              "name": "enableFeedback",
              "value": "={{$json.enableFeedback !== false}}",
              "type": "boolean"
            },
            {
              "id": "context-type",
              "name": "contextType",
              "value": "={{$json.contextType || 'general'}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-session",
      "name": "Extract Session Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [700, 260]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Unified session check with feedback improvements\nWITH session_data AS (\n  SELECT \n    s.session_id,\n    s.user_id,\n    s.is_active,\n    s.created_at,\n    COUNT(DISTINCT c.id) as total_conversations,\n    AVG(f.rating) as avg_rating\n  FROM sessions s\n  LEFT JOIN conversations c ON s.session_id = c.session_id\n  LEFT JOIN feedback f ON c.id = f.conversation_id\n  WHERE s.session_id = $1::uuid\n  GROUP BY s.session_id, s.user_id, s.is_active, s.created_at\n),\nconversation_history AS (\n  SELECT json_agg(\n    json_build_object(\n      'role', CASE \n        WHEN c.user_message IS NOT NULL THEN 'user'\n        ELSE 'assistant'\n      END,\n      'content', COALESCE(c.user_message, \n        COALESCE(li.improved_response, c.ai_response)),\n      'timestamp', c.created_at,\n      'hasImprovement', li.id IS NOT NULL,\n      'rating', f.rating\n    ) ORDER BY c.created_at DESC\n    LIMIT 10\n  ) as history\n  FROM conversations c\n  LEFT JOIN feedback f ON c.id = f.conversation_id\n  LEFT JOIN learning_improvements li ON f.id = li.feedback_id AND li.applied = true\n  WHERE c.session_id = $1::uuid\n    AND c.created_at > CURRENT_TIMESTAMP - INTERVAL '24 hours'\n)\nSELECT \n  sd.*,\n  COALESCE(ch.history, '[]'::json) as conversation_history\nFROM session_data sd\nCROSS JOIN conversation_history ch\nWHERE sd.is_active = true;",
        "options": {
          "queryParams": "={{$json.sessionId}}"
        }
      },
      "id": "check-session",
      "name": "Check Session & Load History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [920, 260],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.length}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "session-exists",
      "name": "Session Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1140, 260]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "sessions",
        "columns": "session_id,user_id,started_at,last_activity,is_active",
        "options": {
          "returnFields": "*"
        }
      },
      "id": "create-session",
      "name": "Create New Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1360, 380],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": "sessions",
        "updateKey": "session_id",
        "columns": "last_activity",
        "options": {
          "returnFields": "*"
        }
      },
      "id": "update-session",
      "name": "Update Session Activity",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1360, 140],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-session",
      "name": "Merge Session Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1580, 260]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$('Extract Session Info').item.json.userMessage}}",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "あなたは親切で知識豊富なAIアシスタントです。\n\n## 重要な指示:\n- 会話履歴を参考にして一貫性のある応答を提供する\n- ユーザーが以前提供した情報を覚えて活用する\n- 自然で親しみやすい口調を保つ\n- フィードバックから学習した改善を適用する\n- 簡潔で分かりやすい説明を心がける\n\n## セッション情報:\n- 平均評価: {{$('Check Session & Load History').item.json.avg_rating || 'なし'}}\n- 総会話数: {{$('Check Session & Load History').item.json.total_conversations || 0}}\n- セッションID: {{$('Extract Session Info').item.json.sessionId}}",
          "maxIterations": 10,
          "returnIntermediateSteps": false,
          "passthroughBinaryImages": true,
          "enableStreaming": false
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [1800, 260]
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "options": {
          "temperature": 0.7,
          "maxTokensToSample": 1000,
          "topP": 0.9,
          "frequencyPenalty": 0.3,
          "presencePenalty": 0.3
        }
      },
      "id": "openai-model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [1800, 540],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$('Extract Session Info').item.json.sessionId}}",
        "tableName": "n8n_chat_histories",
        "windowSize": 10
      },
      "id": "postgres-chat-memory",
      "name": "PostgreSQL Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1,
      "position": [1800, 420],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "name": "search_knowledge",
        "description": "Search through knowledge base for relevant information",
        "method": "GET",
        "url": "={{$env.KNOWLEDGE_BASE_URL}}/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{$input}}"
            }
          ]
        }
      },
      "id": "knowledge-tool",
      "name": "Knowledge Base Tool",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [1800, 660],
      "credentials": {
        "httpHeaderAuth": {
          "id": "knowledge-credentials",
          "name": "Knowledge Base API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "conversations",
        "columns": "session_id,user_message,ai_response,user_id,metadata,context_type",
        "options": {
          "returnFields": "id,session_id,created_at"
        }
      },
      "id": "save-conversation",
      "name": "Save Conversation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2020, 260],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response",
              "name": "response",
              "value": "={{$('AI Agent').item.json.output}}",
              "type": "string"
            },
            {
              "id": "session-id-response",
              "name": "sessionId",
              "value": "={{$('Extract Session Info').item.json.sessionId}}",
              "type": "string"
            },
            {
              "id": "conversation-id",
              "name": "conversationId",
              "value": "={{$('Save Conversation').item.json.id}}",
              "type": "string"
            },
            {
              "id": "timestamp-response",
              "name": "timestamp",
              "value": "={{$('Save Conversation').item.json.created_at}}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "memory-size",
              "name": "memorySize",
              "value": "={{$('Check Session & Load History').item.json.total_conversations || 0}}",
              "type": "number"
            },
            {
              "id": "feedback-enabled",
              "name": "feedbackEnabled",
              "value": "={{$('Extract Session Info').item.json.enableFeedback}}",
              "type": "boolean"
            },
            {
              "id": "feedback-url",
              "name": "feedbackUrl",
              "value": "={{$('Extract Session Info').item.json.enableFeedback ? '/webhook/chatbot/feedback' : null}}",
              "type": "string"
            },
            {
              "id": "session-stats",
              "name": "sessionStats",
              "value": "={{JSON.stringify({totalConversations: $('Check Session & Load History').item.json.total_conversations, avgRating: $('Check Session & Load History').item.json.avg_rating})}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [2240, 260]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2460, 260]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot/feedback",
        "responseMode": "responseNode",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "feedback-webhook",
      "name": "Feedback Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [260, 700],
      "webhookId": "chatbot-feedback-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.sessionId}}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{$json.conversationId}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "validate-feedback",
      "name": "Validate Feedback",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 700]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "feedback-id",
              "name": "feedbackId",
              "value": "={{$uuid()}}",
              "type": "string"
            },
            {
              "id": "session-id",
              "name": "sessionId",
              "value": "={{$json.sessionId}}",
              "type": "string"
            },
            {
              "id": "conversation-id",
              "name": "conversationId",
              "value": "={{$json.conversationId}}",
              "type": "string"
            },
            {
              "id": "rating",
              "name": "rating",
              "value": "={{$json.rating}}",
              "type": "number"
            },
            {
              "id": "is-helpful",
              "name": "isHelpful",
              "value": "={{$json.isHelpful}}",
              "type": "boolean"
            },
            {
              "id": "feedback-text",
              "name": "feedbackText",
              "value": "={{$json.feedbackText || ''}}",
              "type": "string"
            },
            {
              "id": "improved-response",
              "name": "improvedResponse",
              "value": "={{$json.improvedResponse || ''}}",
              "type": "string"
            },
            {
              "id": "feedback-type",
              "name": "feedbackType",
              "value": "={{$json.feedbackType || 'general'}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-feedback",
      "name": "Prepare Feedback",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [700, 620]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "feedback",
        "columns": "id,conversation_id,session_id,rating,is_helpful,feedback_text,feedback_type",
        "options": {
          "returnFields": "id,created_at"
        }
      },
      "id": "save-feedback",
      "name": "Save Feedback",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [920, 620],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$('Prepare Feedback').item.json.improvedResponse}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "has-improvement",
      "name": "Has Improvement?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1140, 620]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO learning_improvements (feedback_id, original_response, improved_response, improvement_type, applied)\nSELECT \n  $1::uuid,\n  c.ai_response,\n  $2,\n  'user_correction',\n  false\nFROM conversations c\nWHERE c.id = $3::uuid\nRETURNING id;",
        "options": {
          "queryParams": "={{$('Save Feedback').item.json.id}},{{$('Prepare Feedback').item.json.improvedResponse}},{{$('Prepare Feedback').item.json.conversationId}}"
        }
      },
      "id": "save-improvement",
      "name": "Save Improvement",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1360, 540],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Original: {{$('Prepare Feedback').item.json.feedbackText}}\nImproved: {{$('Prepare Feedback').item.json.improvedResponse}}",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "Analyze the feedback and improved response to identify patterns for future improvements.",
          "maxIterations": 3
        }
      },
      "id": "analyze-improvement",
      "name": "Analyze Improvement",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [1580, 540]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-feedback",
      "name": "Merge Feedback Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1360, 700]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "message",
              "name": "message",
              "value": "フィードバックを受け付けました",
              "type": "string"
            },
            {
              "id": "feedback-id",
              "name": "feedbackId",
              "value": "={{$('Save Feedback').item.json.id}}",
              "type": "string"
            },
            {
              "id": "improvement-saved",
              "name": "improvementSaved",
              "value": "={{$('Save Improvement').item.json ? true : false}}",
              "type": "boolean"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{$('Save Feedback').item.json.created_at}}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "success",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-feedback-response",
      "name": "Format Feedback Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1580, 700]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond-feedback",
      "name": "Respond to Feedback",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1800, 700]
    },
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [920, 900]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error-message",
              "name": "error",
              "value": "{{$json.error.message || 'An error occurred'}}",
              "type": "string"
            },
            {
              "id": "error-code",
              "name": "errorCode",
              "value": "{{$json.error.code || 'UNKNOWN_ERROR'}}",
              "type": "string"
            },
            {
              "id": "error-timestamp",
              "name": "timestamp",
              "value": "={{$now.toISO()}}",
              "type": "string"
            },
            {
              "id": "error-status",
              "name": "status",
              "value": "error",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1140, 900]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "error_logs",
        "columns": "error_message,error_code,session_id,timestamp,metadata",
        "options": {}
      },
      "id": "log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1360, 900],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "options": {
          "responseCode": 500
        }
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1580, 900]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error-message",
              "name": "error",
              "value": "メッセージが空です。'message'フィールドに質問を入力してください。",
              "type": "string"
            },
            {
              "id": "error-status",
              "name": "status",
              "value": "error",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "validation-error",
      "name": "Validation Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [700, 420]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 400
        }
      },
      "id": "validation-error-response",
      "name": "Validation Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [920, 420]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error-message",
              "name": "error",
              "value": "フィードバックの検証に失敗しました。sessionIdとconversationIdが必要です。",
              "type": "string"
            },
            {
              "id": "error-status",
              "name": "status",
              "value": "error",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "feedback-validation-error",
      "name": "Feedback Validation Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [700, 780]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 400
        }
      },
      "id": "feedback-error-response",
      "name": "Feedback Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [920, 780]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Input Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Validation": {
      "main": [
        [
          {
            "node": "Extract Session Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Session Info": {
      "main": [
        [
          {
            "node": "Check Session & Load History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Session & Load History": {
      "main": [
        [
          {
            "node": "Session Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Exists?": {
      "main": [
        [
          {
            "node": "Update Session Activity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Session Activity": {
      "main": [
        [
          {
            "node": "Merge Session Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Session": {
      "main": [
        [
          {
            "node": "Merge Session Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Session Data": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Save Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Save Conversation": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feedback Webhook": {
      "main": [
        [
          {
            "node": "Validate Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Feedback": {
      "main": [
        [
          {
            "node": "Prepare Feedback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Feedback Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Feedback": {
      "main": [
        [
          {
            "node": "Save Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Feedback": {
      "main": [
        [
          {
            "node": "Has Improvement?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Improvement?": {
      "main": [
        [
          {
            "node": "Save Improvement",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Feedback Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Improvement": {
      "main": [
        [
          {
            "node": "Analyze Improvement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Improvement": {
      "main": [
        [
          {
            "node": "Merge Feedback Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Feedback Results": {
      "main": [
        [
          {
            "node": "Format Feedback Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Feedback Response": {
      "main": [
        [
          {
            "node": "Respond to Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Error": {
      "main": [
        [
          {
            "node": "Validation Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feedback Validation Error": {
      "main": [
        [
          {
            "node": "Feedback Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "timezone": "Asia/Tokyo"
  },
  "versionId": "unified-all-phases",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "intelligent-learning-chatbot",
    "description": "Unified intelligent learning chatbot with all phases integrated: basic chat, session management, and feedback system"
  },
  "id": "intelligent-learning-chatbot-unified",
  "tags": [
    {
      "id": "chatbot",
      "name": "Chatbot"
    },
    {
      "id": "ai",
      "name": "AI"
    },
    {
      "id": "learning",
      "name": "Learning"
    },
    {
      "id": "feedback",
      "name": "Feedback"
    },
    {
      "id": "unified",
      "name": "Unified"
    }
  ]
}
