projects/telegram-ai-assistant/telegram-ai-assistant.json
{
  "name": "AI-Powered Telegram Personal Assistant",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"]
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [160, 300],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "notes": "Telegramからのメッセージを監視し、ワークフローを開始"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.message.voice ? 'voice' : 'text' }}",
              "operation": "equals",
              "value2": "voice"
            }
          ]
        },
        "fallbackOutput": "extra"
      },
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [360, 300],
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "notes": "音声メッセージとテキストメッセージを判別"
    },
    {
      "parameters": {
        "operation": "getFile",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "name": "Download Voice File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [560, 200],
      "id": "c3d4e5f6-a7b8-9012-cdef-234567890123",
      "notes": "音声ファイルをダウンロード"
    },
    {
      "parameters": {
        "operation": "transcribe",
        "model": "whisper-1",
        "file": "={{ $binary.data }}"
      },
      "name": "Transcribe Audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [760, 200],
      "id": "d4e5f6a7-b8c9-0123-defa-345678901234",
      "notes": "音声をテキストに変換"
    },
    {
      "parameters": {
        "mode": "manual",
        "values": {
          "string": [
            {
              "name": "text",
              "value": "={{ $json.message?.text || $json.text }}"
            }
          ]
        }
      },
      "name": "Set 'Text'",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [960, 300],
      "id": "e5f6a7b8-c9d0-1234-efab-456789012345",
      "notes": "テキストデータを統一形式に設定"
    },
    {
      "parameters": {
        "mode": "manual",
        "values": {
          "string": [
            {
              "name": "input",
              "value": "={{ $json.text }}"
            }
          ]
        }
      },
      "name": "Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1160, 300],
      "id": "f6a7b8c9-d0e1-2345-fabc-567890123456"
    },
    {
      "parameters": {
        "prompt": "={{ $json.input }}",
        "systemMessage": "You are a helpful AI assistant that can help with emails, calendar, contacts, YouTube, and web searches."
      },
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [1360, 300],
      "id": "a7b8c9d0-e1f2-3456-abcd-678901234567",
      "notes": "中央AIエージェント - タスクを判断し適切なサブエージェントに委任"
    },
    {
      "parameters": {},
      "name": "GPT 4.1-mini",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [1160, 450],
      "id": "b8c9d0e1-f2a3-4567-bcde-789012345678"
    },
    {
      "parameters": {},
      "name": "Think",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 450],
      "id": "c9d0e1f2-a3b4-5678-cdef-890123456789"
    },
    {
      "parameters": {},
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [1560, 450],
      "id": "d0e1f2a3-b4c5-6789-defa-901234567890"
    },
    {
      "parameters": {
        "code": "// 応答データのクリーンアップ\nconst output = $json.output || '';\nreturn [{\n  json: {\n    response: output.trim()\n  }\n}];"
      },
      "name": "Clean Up",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 200],
      "id": "e1f2a3b4-c5d6-7890-efab-012345678901"
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "YOUR_SHEET_ID",
        "range": "A:D",
        "values": {
          "values": [
            [
              "={{ new Date().toISOString() }}",
              "={{ $json.input }}",
              "={{ $json.response }}",
              "success"
            ]
          ]
        }
      },
      "name": "Append row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1960, 200],
      "id": "f2a3b4c5-d6e7-8901-fabc-123456789012"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "={{ $json.response }}"
      },
      "name": "Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [2160, 200],
      "id": "a3b4c5d6-e7f8-9012-abcd-234567890123"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "エラーが発生しました。もう一度お試しください。"
      },
      "name": "Error Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1760, 400],
      "id": "b4c5d6e7-f8a9-0123-bcde-345678901234"
    },
    {
      "parameters": {
        "prompt": "{{ $json.emailRequest }}"
      },
      "name": "Email Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [1160, 600],
      "id": "c5d6e7f8-a9b0-1234-cdef-456789012345",
      "notes": "メール関連タスクを処理するサブエージェント"
    },
    {
      "parameters": {},
      "name": "GPT 4.1-mini1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [960, 700],
      "id": "d6e7f8a9-b0c1-2345-defa-567890123456"
    },
    {
      "parameters": {
        "operation": "message:reply"
      },
      "name": "Email Reply",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [960, 800],
      "id": "e7f8a9b0-c1d2-3456-efab-678901234567"
    },
    {
      "parameters": {
        "operation": "message:addLabel"
      },
      "name": "Label Emails",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1160, 800],
      "id": "f8a9b0c1-d2e3-4567-fabc-789012345678"
    },
    {
      "parameters": {
        "operation": "draft:create"
      },
      "name": "Create Draft",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1360, 800],
      "id": "a9b0c1d2-e3f4-5678-abcd-890123456789"
    },
    {
      "parameters": {
        "operation": "message:getAll"
      },
      "name": "Get Emails",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [960, 900],
      "id": "b0c1d2e3-f4a5-6789-bcde-901234567890"
    },
    {
      "parameters": {
        "operation": "label:getAll"
      },
      "name": "Get Labels",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1160, 900],
      "id": "c1d2e3f4-a5b6-7890-cdef-012345678901"
    },
    {
      "parameters": {
        "operation": "message:markAsUnread"
      },
      "name": "Mark Unread",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1360, 900],
      "id": "d2e3f4a5-b6c7-8901-defa-123456789012"
    },
    {
      "parameters": {
        "operation": "message:send"
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1560, 900],
      "id": "e3f4a5b6-c7d8-9012-efab-234567890123"
    },
    {
      "parameters": {
        "prompt": "{{ $json.calendarRequest }}"
      },
      "name": "Calendar Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [1760, 600],
      "id": "f4a5b6c7-d8e9-0123-fabc-345678901234",
      "notes": "カレンダー関連タスクを処理するサブエージェント"
    },
    {
      "parameters": {},
      "name": "GPT 4.1-mini2",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [1560, 700],
      "id": "a5b6c7d8-e9f0-1234-abcd-456789012345"
    },
    {
      "parameters": {
        "operation": "event:delete"
      },
      "name": "Delete Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 2,
      "position": [1560, 800],
      "id": "b6c7d8e9-f0a1-2345-bcde-567890123456"
    },
    {
      "parameters": {
        "operation": "event:getAll"
      },
      "name": "Get Events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 2,
      "position": [1760, 800],
      "id": "c7d8e9f0-a1b2-3456-cdef-678901234567"
    },
    {
      "parameters": {
        "operation": "event:create"
      },
      "name": "Create Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 2,
      "position": [1560, 900],
      "id": "d8e9f0a1-b2c3-4567-defa-789012345678"
    },
    {
      "parameters": {
        "operation": "event:update"
      },
      "name": "Update Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 2,
      "position": [1760, 900],
      "id": "e9f0a1b2-c3d4-5678-efab-890123456789"
    },
    {
      "parameters": {
        "operation": "event:create",
        "additionalFields": {
          "attendees": true
        }
      },
      "name": "Create Event with Attendee",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 2,
      "position": [1960, 900],
      "id": "f0a1b2c3-d4e5-6789-fabc-901234567890"
    },
    {
      "parameters": {
        "prompt": "{{ $json.contactRequest }}"
      },
      "name": "Contact Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [2360, 600],
      "id": "a1b2c3d4-e5f6-7890-abcd-012345678901",
      "notes": "連絡先管理タスクを処理するサブエージェント"
    },
    {
      "parameters": {},
      "name": "GPT 4.1-mini3",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [2160, 700],
      "id": "b2c3d4e5-f6a7-8901-bcde-123456789012"
    },
    {
      "parameters": {
        "operation": "search"
      },
      "name": "Get Contacts",
      "type": "n8n-nodes-base.googleContacts",
      "typeVersion": 1,
      "position": [2160, 800],
      "id": "c3d4e5f6-a7b8-9012-cdef-234567890123"
    },
    {
      "parameters": {
        "operation": "upsert"
      },
      "name": "Add or Update Contact",
      "type": "n8n-nodes-base.googleContacts",
      "typeVersion": 1,
      "position": [2360, 800],
      "id": "d4e5f6a7-b8c9-0123-defa-345678901234"
    },
    {
      "parameters": {
        "prompt": "{{ $json.youtubeRequest }}"
      },
      "name": "YouTube Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [2960, 600],
      "id": "e5f6a7b8-c9d0-1234-efab-456789012345",
      "notes": "YouTube関連タスクを処理するサブエージェント"
    },
    {
      "parameters": {},
      "name": "GPT 4.1-mini5",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [2760, 700],
      "id": "f6a7b8c9-d0e1-2345-fabc-567890123456"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/youtube~youtube-scraper/run-sync",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "searchKeywords",
              "value": "={{ $json.keywords }}"
            }
          ]
        }
      },
      "name": "YouTube Videos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2760, 800],
      "id": "a7b8c9d0-e1f2-3456-abcd-678901234567"
    },
    {
      "parameters": {
        "operation": "read",
        "sheetId": "YOUR_IDEAS_SHEET_ID"
      },
      "name": "Get Ideas",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [2960, 800],
      "id": "b8c9d0e1-f2a3-4567-bcde-789012345678"
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "YOUR_IDEAS_SHEET_ID"
      },
      "name": "Add Idea",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [3160, 800],
      "id": "c9d0e1f2-a3b4-5678-cdef-890123456789"
    },
    {
      "parameters": {
        "prompt": "{{ $json.webRequest }}"
      },
      "name": "Web Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [2360, 1000],
      "id": "d0e1f2a3-b4c5-6789-defa-901234567890",
      "notes": "Web検索と天気情報を処理するサブエージェント"
    },
    {
      "parameters": {},
      "name": "GPT 4.1-mini4",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [2160, 1100],
      "id": "e1f2a3b4-c5d6-7890-efab-012345678901"
    },
    {
      "parameters": {
        "operation": "search",
        "query": "={{ $json.searchQuery }}"
      },
      "name": "Tavily",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2160, 1200],
      "id": "f2a3b4c5-d6e7-8901-fabc-123456789012",
      "notes": "Tavily API経由でWeb検索"
    },
    {
      "parameters": {
        "operation": "chat:complete",
        "model": "sonar-medium-online"
      },
      "name": "Perplexity",
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [2360, 1200],
      "id": "a3b4c5d6-e7f8-9012-abcd-234567890123"
    },
    {
      "parameters": {
        "operation": "currentWeather"
      },
      "name": "OpenWeatherMap",
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [2560, 1200],
      "id": "b4c5d6e7-f8a9-0123-bcde-345678901234"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{"node": "Switch", "type": "main", "index": 0}]]
    },
    "Switch": {
      "main": [
        [{"node": "Download Voice File", "type": "main", "index": 0}],
        [{"node": "Set 'Text'", "type": "main", "index": 0}]
      ]
    },
    "Download Voice File": {
      "main": [[{"node": "Transcribe Audio", "type": "main", "index": 0}]]
    },
    "Transcribe Audio": {
      "main": [[{"node": "Set 'Text'", "type": "main", "index": 0}]]
    },
    "Set 'Text'": {
      "main": [[{"node": "Input", "type": "main", "index": 0}]]
    },
    "Input": {
      "main": [[{"node": "AI Agent", "type": "main", "index": 0}]]
    },
    "AI Agent": {
      "main": [
        [{"node": "Clean Up", "type": "main", "index": 0}],
        [{"node": "Error Message", "type": "main", "index": 0}]
      ]
    },
    "GPT 4.1-mini": {
      "main": [[{"node": "AI Agent", "type": "main", "index": 0}]]
    },
    "Think": {
      "main": [[{"node": "AI Agent", "type": "main", "index": 1}]]
    },
    "Simple Memory": {
      "main": [[{"node": "AI Agent", "type": "main", "index": 2}]]
    },
    "Email Agent": {
      "main": [[{"node": "AI Agent", "type": "main", "index": 3}]]
    },
    "Calendar Agent": {
      "main": [[{"node": "AI Agent", "type": "main", "index": 4}]]
    },
    "Contact Agent": {
      "main": [[{"node": "AI Agent", "type": "main", "index": 5}]]
    },
    "YouTube Agent": {
      "main": [[{"node": "AI Agent", "type": "main", "index": 6}]]
    },
    "Web Agent": {
      "main": [[{"node": "AI Agent", "type": "main", "index": 7}]]
    },
    "Clean Up": {
      "main": [[{"node": "Append row in sheet", "type": "main", "index": 0}]]
    },
    "Append row in sheet": {
      "main": [[{"node": "Response", "type": "main", "index": 0}]]
    },
    "GPT 4.1-mini1": {
      "main": [[{"node": "Email Agent", "type": "main", "index": 0}]]
    },
    "Email Reply": {
      "main": [[{"node": "Email Agent", "type": "main", "index": 1}]]
    },
    "Label Emails": {
      "main": [[{"node": "Email Agent", "type": "main", "index": 1}]]
    },
    "Create Draft": {
      "main": [[{"node": "Email Agent", "type": "main", "index": 1}]]
    },
    "Get Emails": {
      "main": [[{"node": "Email Agent", "type": "main", "index": 1}]]
    },
    "Get Labels": {
      "main": [[{"node": "Email Agent", "type": "main", "index": 1}]]
    },
    "Mark Unread": {
      "main": [[{"node": "Email Agent", "type": "main", "index": 1}]]
    },
    "Send Email": {
      "main": [[{"node": "Email Agent", "type": "main", "index": 1}]]
    },
    "GPT 4.1-mini2": {
      "main": [[{"node": "Calendar Agent", "type": "main", "index": 0}]]
    },
    "Delete Event": {
      "main": [[{"node": "Calendar Agent", "type": "main", "index": 1}]]
    },
    "Get Events": {
      "main": [[{"node": "Calendar Agent", "type": "main", "index": 1}]]
    },
    "Create Event": {
      "main": [[{"node": "Calendar Agent", "type": "main", "index": 1}]]
    },
    "Update Event": {
      "main": [[{"node": "Calendar Agent", "type": "main", "index": 1}]]
    },
    "Create Event with Attendee": {
      "main": [[{"node": "Calendar Agent", "type": "main", "index": 1}]]
    },
    "GPT 4.1-mini3": {
      "main": [[{"node": "Contact Agent", "type": "main", "index": 0}]]
    },
    "Get Contacts": {
      "main": [[{"node": "Contact Agent", "type": "main", "index": 1}]]
    },
    "Add or Update Contact": {
      "main": [[{"node": "Contact Agent", "type": "main", "index": 1}]]
    },
    "GPT 4.1-mini5": {
      "main": [[{"node": "YouTube Agent", "type": "main", "index": 0}]]
    },
    "YouTube Videos": {
      "main": [[{"node": "YouTube Agent", "type": "main", "index": 1}]]
    },
    "Get Ideas": {
      "main": [[{"node": "YouTube Agent", "type": "main", "index": 1}]]
    },
    "Add Idea": {
      "main": [[{"node": "YouTube Agent", "type": "main", "index": 1}]]
    },
    "GPT 4.1-mini4": {
      "main": [[{"node": "Web Agent", "type": "main", "index": 0}]]
    },
    "Tavily": {
      "main": [[{"node": "Web Agent", "type": "main", "index": 1}]]
    },
    "Perplexity": {
      "main": [[{"node": "Web Agent", "type": "main", "index": 1}]]
    },
    "OpenWeatherMap": {
      "main": [[{"node": "Web Agent", "type": "main", "index": 1}]]
    }
  },
  "versionId": "v1-telegram-ai-assistant",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "timezone": "Asia/Tokyo"
  },
  "id": "telegram-ai-assistant-workflow",
  "tags": [
    {"name": "ai-assistant"},
    {"name": "telegram"},
    {"name": "multi-agent"}
  ],
  "meta": {
    "templateId": "ai-personal-assistant-v1",
    "instanceId": "workflow-instance-001"
  }
}