workflows/email-support-24h.json
{
  "name": "24-Hour Email Support with AI Response",
  "nodes": [
    {
      "parameters": {
        "mailbox": "INBOX",
        "format": "simple",
        "property": "",
        "options": {
          "customEmailConfig": "={{ $fromEmail }}",
          "allowUnauthorizedCerts": true,
          "forceReconnect": 300
        }
      },
      "id": "email-trigger-01",
      "name": "Email Trigger (IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 4,
      "position": [250, 300],
      "credentials": {
        "imap": {
          "id": "imap-credentials-id",
          "name": "Email IMAP Account"
        }
      },
      "notes": "Monitors email inbox for new support requests. Triggers workflow for each new email received."
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "resource": "chat",
        "model": "gpt-4",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a helpful customer support AI assistant. Analyze the incoming email and generate an appropriate response. Be professional, empathetic, and helpful. If the issue is urgent or complex, indicate that a human will follow up within 24 hours."
            },
            {
              "role": "user",
              "content": "=={{ `Email from: ${$json.from.text}\nSubject: ${$json.subject}\nContent: ${$json.text || $json.html}` }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 500,
          "topP": 0.9
        }
      },
      "id": "openai-analysis-01",
      "name": "Analyze Email with OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [450, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-api-credentials-id",
          "name": "OpenAI API"
        }
      },
      "notes": "Uses OpenAI GPT-4 to analyze the email content and generate an appropriate response"
    },
    {
      "parameters": {
        "operation": "dateTime",
        "includeInputFields": true,
        "options": {}
      },
      "id": "datetime-01",
      "name": "Get Current Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [650, 200],
      "notes": "Gets current time to check if within business hours"
    },
    {
      "parameters": {
        "conditions": {
          "dateTime": [
            {
              "value1": "={{ $json.currentDateTime }}",
              "operation": "after",
              "value2": "08:00"
            },
            {
              "value1": "={{ $json.currentDateTime }}",
              "operation": "before",
              "value2": "18:00"
            }
          ],
          "number": [
            {
              "value1": "={{ $json.currentDateTime.getDay() }}",
              "operation": "larger",
              "value2": 0
            },
            {
              "value1": "={{ $json.currentDateTime.getDay() }}",
              "operation": "smaller",
              "value2": 6
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "if-business-hours-01",
      "name": "Check Business Hours",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 200],
      "notes": "Checks if current time is within business hours (Mon-Fri, 8AM-6PM)"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Email Trigger (IMAP)').item.json.subject.toLowerCase() }}",
              "operation": "contains",
              "value2": "urgent"
            }
          ]
        },
        "combineOperation": "any",
        "options": {}
      },
      "id": "if-urgent-01",
      "name": "Check if Urgent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 400],
      "notes": "Checks if the email is marked as urgent based on subject line"
    },
    {
      "parameters": {
        "fromEmail": "=={{ $vars.SUPPORT_EMAIL || 'support@company.com' }}",
        "toEmail": "={{ $('Email Trigger (IMAP)').item.json.from.value[0].address }}",
        "subject": "Re: {{ $('Email Trigger (IMAP)').item.json.subject }}",
        "emailType": "html",
        "htmlBody": "=={{ `<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <h2 style=\"color: #333;\">Thank you for contacting our support</h2>\n  <p>Dear ${$('Email Trigger (IMAP)').item.json.from.value[0].name || 'Customer'},</p>\n  <p>We have received your email and appreciate you reaching out to us.</p>\n  <hr style=\"border: 1px solid #ddd; margin: 20px 0;\">\n  <div style=\"background: #f5f5f5; padding: 15px; border-radius: 5px;\">\n    <h3 style=\"color: #555;\">AI-Generated Response:</h3>\n    <p>${$('Analyze Email with OpenAI').item.json.message.content}</p>\n  </div>\n  <hr style=\"border: 1px solid #ddd; margin: 20px 0;\">\n  <p><strong>Response Time Commitment:</strong></p>\n  <ul>\n    <li>We aim to provide a comprehensive response within 24 hours</li>\n    <li>For urgent matters, a team member will contact you sooner</li>\n    <li>Business hours: Monday-Friday, 8:00 AM - 6:00 PM</li>\n  </ul>\n  <p style=\"color: #666; font-size: 12px; margin-top: 20px;\">\n    This is an automated response powered by AI to acknowledge receipt of your email. \n    A human support agent will review your request and provide a detailed response.\n  </p>\n  <p style=\"color: #666; font-size: 12px;\">\n    Ticket ID: ${Date.now()}-${Math.random().toString(36).substr(2, 9)}\n  </p>\n</div>` }}",
        "options": {
          "replyToAddresses": "=={{ $vars.SUPPORT_EMAIL || 'support@company.com' }}"
        }
      },
      "id": "send-email-01",
      "name": "Send Auto-Reply Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1050, 300],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials-id",
          "name": "Email SMTP Account"
        }
      },
      "notes": "Sends automated response email with AI-generated content and 24-hour response commitment"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "={{ $vars.SLACK_SUPPORT_CHANNEL || '#customer-support' }}",
        "text": "New Support Email Received",
        "otherOptions": {},
        "attachments": [
          {
            "color": "={{ $('Check if Urgent').item.json.urgentFlag ? '#ff0000' : ($('Check Business Hours').item.json.businessHours ? '#36a64f' : '#ff9900') }}",
            "fields": [
              {
                "title": "From",
                "value": "={{ $('Email Trigger (IMAP)').item.json.from.text }}",
                "short": true
              },
              {
                "title": "Subject",
                "value": "={{ $('Email Trigger (IMAP)').item.json.subject }}",
                "short": true
              },
              {
                "title": "Priority",
                "value": "={{ $('Check if Urgent').item.json.urgentFlag ? '🚨 URGENT' : 'Normal' }}",
                "short": true
              },
              {
                "title": "Received During",
                "value": "={{ $('Check Business Hours').item.json.businessHours ? 'Business Hours' : 'After Hours' }}",
                "short": true
              },
              {
                "title": "Email Preview",
                "value": "={{ ($('Email Trigger (IMAP)').item.json.text || $('Email Trigger (IMAP)').item.json.html || '').substring(0, 200) }}...",
                "short": false
              },
              {
                "title": "AI Response Summary",
                "value": "={{ $('Analyze Email with OpenAI').item.json.message.content.substring(0, 200) }}...",
                "short": false
              }
            ],
            "footer": "Email Support System",
            "ts": "={{ Math.floor(Date.now() / 1000) }}"
          }
        ]
      },
      "id": "slack-notification-01",
      "name": "Send Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1250, 300],
      "credentials": {
        "slackApi": {
          "id": "slack-api-credentials-id",
          "name": "Slack API"
        }
      },
      "notes": "Notifies support team in Slack with email details and urgency status"
    },
    {
      "parameters": {
        "functionCode": "// Add custom data for all downstream nodes\nconst items = $input.all();\n\nreturn items.map(item => {\n  return {\n    json: {\n      ...item.json,\n      businessHours: $('Check Business Hours').first().json.businessHours || false,\n      urgentFlag: $('Check if Urgent').first().json.urgentFlag || false,\n      processedAt: new Date().toISOString(),\n      ticketId: `${Date.now()}-${Math.random().toString(36).substr(2, 9)}`\n    }\n  };\n});"
      },
      "id": "code-merge-data-01",
      "name": "Merge Context Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 100],
      "notes": "Merges business hours and urgency flags for use in notifications"
    }
  ],
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Analyze Email with OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Email with OpenAI": {
      "main": [
        [
          {
            "node": "Get Current Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Time": {
      "main": [
        [
          {
            "node": "Check Business Hours",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check if Urgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Business Hours": {
      "main": [
        [
          {
            "node": "Merge Context Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Context Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Urgent": {
      "main": [
        [
          {
            "node": "Merge Context Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Context Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Context Data": {
      "main": [
        [
          {
            "node": "Send Auto-Reply Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Auto-Reply Email": {
      "main": [
        [
          {
            "node": "Send Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "executionTimeout": 300,
    "timezone": "America/New_York",
    "errorWorkflow": ""
  },
  "versionId": "01234567-89ab-cdef-0123-456789abcdef",
  "meta": {
    "templateId": "2025"
  },
  "tags": [
    {
      "id": "1",
      "name": "email"
    },
    {
      "id": "2",
      "name": "support"
    },
    {
      "id": "3",
      "name": "ai"
    },
    {
      "id": "4",
      "name": "automation"
    }
  ],
  "triggerCount": 0,
  "id": "email-support-24h-001"
}