workflows/expense-approval-api.json
{
  "workflow": {
    "name": "経費申請・承認ワークフロー",
    "nodes": [
      {
        "parameters": {
          "authentication": "oAuth2",
          "event": "messageReceived",
          "simple": true,
          "filters": {
            "q": "subject:[経費申請]"
          }
        },
        "id": "gmail-trigger",
        "name": "Gmail Trigger",
        "type": "n8n-nodes-base.gmailTrigger",
        "typeVersion": 1.2,
        "position": [250, 300],
        "credentials": {
          "gmailOAuth2": {
            "id": "{{gmailCredentialId}}",
            "name": "Gmail OAuth2"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "message",
          "operation": "get",
          "messageId": "={{ $json.id }}",
          "attachments": true
        },
        "id": "extract-attachments",
        "name": "Gmail",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [450, 300],
        "credentials": {
          "gmailOAuth2": {
            "id": "{{gmailCredentialId}}",
            "name": "Gmail OAuth2"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp:generateContent",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpQueryAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "key",
                "value": "={{ $credentials.apiKey }}"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  \"contents\": [{\n    \"parts\": [\n      {\n        \"text\": \"この領収書から以下を抽出してJSON形式で返してください：金額(amount)、日付(date)、店舗名(vendor)、費目(category：交通費/会議費/備品費/その他から選択)\"\n      },\n      {\n        \"inline_data\": {\n          \"mime_type\": $binary.attachment0.mimeType,\n          \"data\": $binary.attachment0.base64\n        }\n      }\n    ]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.1,\n    \"response_mime_type\": \"application/json\"\n  }\n}) }}"
        },
        "id": "gemini-api",
        "name": "Gemini API Request",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [650, 300],
        "credentials": {
          "httpQueryAuth": {
            "id": "{{geminiCredentialId}}",
            "name": "Gemini API Key"
          }
        }
      },
      {
        "parameters": {
          "keepOnlySet": true,
          "values": {
            "number": [
              {
                "name": "申請ID",
                "value": "={{ Date.now() }}"
              }
            ],
            "string": [
              {
                "name": "申請者",
                "value": "={{ $('Gmail Trigger').item.json.from }}"
              },
              {
                "name": "申請日時",
                "value": "={{ new Date().toISOString() }}"
              },
              {
                "name": "金額",
                "value": "={{ $json.candidates[0].content.parts[0].text ? JSON.parse($json.candidates[0].content.parts[0].text).amount : '' }}"
              },
              {
                "name": "費目",
                "value": "={{ $json.candidates[0].content.parts[0].text ? JSON.parse($json.candidates[0].content.parts[0].text).category : '' }}"
              },
              {
                "name": "店舗名",
                "value": "={{ $json.candidates[0].content.parts[0].text ? JSON.parse($json.candidates[0].content.parts[0].text).vendor : '' }}"
              },
              {
                "name": "領収書日付",
                "value": "={{ $json.candidates[0].content.parts[0].text ? JSON.parse($json.candidates[0].content.parts[0].text).date : '' }}"
              },
              {
                "name": "承認状態",
                "value": "申請中"
              },
              {
                "name": "承認者",
                "value": ""
              },
              {
                "name": "承認日時",
                "value": ""
              },
              {
                "name": "会計システム連携状態",
                "value": "未連携"
              }
            ]
          }
        },
        "id": "format-data",
        "name": "Set",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [850, 300]
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "={{ $env.EXPENSE_SHEET_ID }}",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "経費申請管理",
            "mode": "name"
          },
          "dataStartRow": 2,
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "申請ID": "={{ $json.申請ID }}",
              "申請者": "={{ $json.申請者 }}",
              "申請日時": "={{ $json.申請日時 }}",
              "金額": "={{ $json.金額 }}",
              "費目": "={{ $json.費目 }}",
              "店舗名": "={{ $json.店舗名 }}",
              "領収書日付": "={{ $json.領収書日付 }}",
              "承認状態": "={{ $json.承認状態 }}",
              "承認者": "={{ $json.承認者 }}",
              "承認日時": "={{ $json.承認日時 }}",
              "会計システム連携状態": "={{ $json.会計システム連携状態 }}"
            }
          }
        },
        "id": "save-to-sheets",
        "name": "Google Sheets",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [1050, 300],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "{{sheetsCredentialId}}",
            "name": "Google Sheets OAuth2"
          }
        }
      },
      {
        "parameters": {
          "resource": "message",
          "operation": "post",
          "select": "channel",
          "channelId": {"__rl": true, "value": "経費申請", "mode": "name"},
          "text": "新しい経費申請があります",
          "attachments": [
            {
              "color": "#36a64f",
              "title": "経費申請 #{{ $json.申請ID }}",
              "fields": {
                "item": [
                  {
                    "title": "申請者",
                    "value": "={{ $json.申請者 }}",
                    "short": true
                  },
                  {
                    "title": "金額",
                    "value": "¥{{ $json.金額 }}",
                    "short": true
                  },
                  {
                    "title": "費目",
                    "value": "={{ $json.費目 }}",
                    "short": true
                  },
                  {
                    "title": "店舗",
                    "value": "={{ $json.店舗名 }}",
                    "short": true
                  }
                ]
              }
            }
          ],
          "blocks": {
            "uiBlocks": [
              {
                "type": "section",
                "text": {
                  "type": "mrkdwn",
                  "text": "*新しい経費申請*\n申請を確認して承認/却下してください"
                }
              },
              {
                "type": "actions",
                "elements": [
                  {
                    "type": "button",
                    "text": {
                      "type": "plain_text",
                      "text": "承認"
                    },
                    "value": "approve_{{ $json.申請ID }}",
                    "style": "primary"
                  },
                  {
                    "type": "button",
                    "text": {
                      "type": "plain_text",
                      "text": "却下"
                    },
                    "value": "reject_{{ $json.申請ID }}",
                    "style": "danger"
                  }
                ]
              }
            ]
          }
        },
        "id": "slack-approval",
        "name": "Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [1250, 300],
        "onError": "continueRegularOutput",
        "credentials": {
          "slackOAuth2Api": {
            "id": "{{slackCredentialId}}",
            "name": "Slack OAuth2"
          }
        }
      },
      {
        "parameters": {
          "path": "expense-approval",
          "httpMethod": "POST",
          "responseMode": "lastNode"
        },
        "id": "approval-webhook",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [250, 600],
        "webhookId": "expense-approval-webhook",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "keepOnlySet": true,
          "values": {
            "string": [
              {
                "name": "action",
                "value": "={{ $json.payload.actions[0].value.split('_')[0] }}"
              },
              {
                "name": "申請ID",
                "value": "={{ $json.payload.actions[0].value.split('_')[1] }}"
              },
              {
                "name": "承認者",
                "value": "={{ $json.payload.user.name }}"
              }
            ]
          }
        },
        "id": "parse-approval",
        "name": "Set1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [450, 600]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.action }}",
                "operation": "equals",
                "value2": "approve"
              }
            ]
          }
        },
        "id": "check-approval",
        "name": "IF",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [650, 600]
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "={{ $env.EXPENSE_SHEET_ID }}",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "経費申請管理",
            "mode": "name"
          },
          "dataStartRow": 2,
          "updateBy": "values",
          "lookupColumn": "申請ID",
          "lookupValue": "={{ $json.申請ID }}",
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "承認状態": "承認済",
              "承認者": "={{ $json.承認者 }}",
              "承認日時": "={{ new Date().toISOString() }}"
            }
          }
        },
        "id": "update-approved",
        "name": "Google Sheets Update Approved",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [850, 500],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "{{sheetsCredentialId}}",
            "name": "Google Sheets OAuth2"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "={{ $env.EXPENSE_SHEET_ID }}",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "経費申請管理",
            "mode": "name"
          },
          "dataStartRow": 2,
          "updateBy": "values",
          "lookupColumn": "申請ID",
          "lookupValue": "={{ $json.申請ID }}",
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "承認状態": "却下",
              "承認者": "={{ $json.承認者 }}",
              "承認日時": "={{ new Date().toISOString() }}"
            }
          }
        },
        "id": "update-rejected",
        "name": "Google Sheets Update Rejected",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [850, 700],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "{{sheetsCredentialId}}",
            "name": "Google Sheets OAuth2"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.mfkessai.com/v2/transactions",
          "authentication": "genericCredentialType",
          "genericAuthType": "bearerToken",
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  \"transaction_date\": $json.領収書日付,\n  \"amount\": Number($json.金額),\n  \"category\": $json.費目,\n  \"description\": $json.店舗名 + ' - 申請ID: ' + $json.申請ID,\n  \"receipt_url\": ''\n}) }}"
        },
        "id": "money-forward-api",
        "name": "Money Forward API",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [1050, 500],
        "credentials": {
          "httpBearerTokenAuth": {
            "id": "{{mfCredentialId}}",
            "name": "Money Forward API"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "={{ $env.EXPENSE_SHEET_ID }}",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "経費申請管理",
            "mode": "name"
          },
          "dataStartRow": 2,
          "updateBy": "values",
          "lookupColumn": "申請ID",
          "lookupValue": "={{ $json.申請ID }}",
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "会計システム連携状態": "連携済"
            }
          }
        },
        "id": "update-integration",
        "name": "Google Sheets Final Update",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [1250, 500],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "{{sheetsCredentialId}}",
            "name": "Google Sheets OAuth2"
          }
        }
      },
      {
        "parameters": {
          "resource": "message",
          "operation": "post",
          "select": "user",
          "user": {"__rl": true, "value": "={{ $json.申請者 }}", "mode": "id"},
          "text": "={{ '経費申請 #' + $json.申請ID + ' が' + $json.承認状態 + 'されました' }}"
        },
        "id": "notify-result",
        "name": "Slack Result",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [1450, 600],
        "onError": "continueRegularOutput",
        "credentials": {
          "slackOAuth2Api": {
            "id": "{{slackCredentialId}}",
            "name": "Slack OAuth2"
          }
        }
      },
      {
        "parameters": {
          "resource": "message",
          "operation": "post",
          "select": "channel",
          "channelId": {"__rl": true, "value": "system-alerts", "mode": "name"},
          "text": "経費申請処理でエラーが発生しました",
          "attachments": [
            {
              "color": "#ff0000",
              "title": "エラー詳細",
              "fields": {
                "item": [
                  {
                    "title": "ノード",
                    "value": "={{ $error.node }}",
                    "short": true
                  },
                  {
                    "title": "メッセージ",
                    "value": "={{ $error.message }}",
                    "short": false
                  }
                ]
              }
            }
          ]
        },
        "id": "error-notification",
        "name": "Error Notification",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [650, 900],
        "onError": "continueRegularOutput",
        "credentials": {
          "slackOAuth2Api": {
            "id": "{{slackCredentialId}}",
            "name": "Slack OAuth2"
          }
        }
      }
    ],
    "connections": {
      "Gmail Trigger": {
        "main": [
          [
            {
              "node": "Gmail",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gmail": {
        "main": [
          [
            {
              "node": "Gemini API Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini API Request": {
        "main": [
          [
            {
              "node": "Set",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set": {
        "main": [
          [
            {
              "node": "Google Sheets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Sheets": {
        "main": [
          [
            {
              "node": "Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Set1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set1": {
        "main": [
          [
            {
              "node": "IF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF": {
        "main": [
          [
            {
              "node": "Google Sheets Update Approved",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Google Sheets Update Rejected",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Sheets Update Approved": {
        "main": [
          [
            {
              "node": "Money Forward API",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Sheets Update Rejected": {
        "main": [
          [
            {
              "node": "Slack Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Money Forward API": {
        "main": [
          [
            {
              "node": "Google Sheets Final Update",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error Notification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Sheets Final Update": {
        "main": [
          [
            {
              "node": "Slack Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "active": false,
    "tags": ["経費精算", "承認ワークフロー", "自動化"],
    "meta": {
      "templateCredsSetupCompleted": true
    }
  }
}