scripts/workflows/github-sync-workflow.json
{"name":"github-workflow","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"18dc3ecc-c1c7-4197-9268-3898636323bc","name":"github_owner","type":"string","value":"shimayuz"},{"id":"b3778554-4200-4e51-842a-dfca05be4f85","name":"repo_name","type":"string","value":"n8n-workflows"}]},"options":{}},"id":"14e9b26b-2cbb-421a-9350-3ce8396001c4","name":"Define Local Variables","type":"n8n-nodes-base.set","position":[400,380],"typeVersion":3.4},{"parameters":{"owner":{"__rl":true,"value":"shimayuz","mode":"name"},"repository":{"__rl":true,"mode":"list","value":"n8n-workflows","cachedResultUrl":"https://github.com/shimayuz/n8n-workflows","cachedResultName":"n8n-workflows"},"events":["pull_request"],"options":{}},"id":"f81558e1-1a95-476d-9a9b-2872822d1cec","name":"Github Trigger - When there is new pull request","type":"n8n-nodes-base.githubTrigger","position":[180,380],"webhookId":"4152c250-0d25-4a1b-8064-1d170c527daf","typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"7f447d9f-6a55-4c4c-b9c5-d1f5b5fb1476","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('Github Trigger - When there is new pull request').item.json.body.action }}","rightValue":"closed"},{"id":"ab94d15e-ee80-4f78-8a1a-b9db0c2161ec","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $('Github Trigger - When there is new pull request').item.json.body.pull_request.merged }}","rightValue":""}]},"options":{}},"id":"08409741-b392-4887-b505-f97263e0eb05","name":"Check if trigger event is pull request merged","type":"n8n-nodes-base.filter","position":[620,380],"typeVersion":2.2},{"parameters":{"url":"=https://api.github.com/repos/{{ $('Define Local Variables').item.json.github_owner }}/{{ $('Define Local Variables').item.json.repo_name }}/commits/{{ $('Github Trigger - When there is new pull request').item.json.body.pull_request.merge_commit_sha }}","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","options":{}},"id":"d5d2056f-e3d2-40bd-90f3-72a0fc610e0e","name":"Fetch merged commit details via GitHub API","type":"n8n-nodes-base.httpRequest","position":[840,380],"typeVersion":4.2,"credentials":{"githubApi":{"id":"jcyVSwzLnleTjYt8","name":"GitHub account"}}},{"parameters":{"fieldToSplitOut":"files","options":{}},"id":"7a9bb40d-afa4-47aa-8d2e-548f6b79a9e0","name":"Get files changes details","type":"n8n-nodes-base.splitOut","position":[1060,380],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cd4529cc-cf44-4fd9-aa27-49a5557a40ca","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.status }}","rightValue":"modified"}]},"options":{}},"id":"9e80ad17-6373-4dd5-ba9d-496fb21088bf","name":"Filter modified workflows","type":"n8n-nodes-base.filter","position":[1280,280],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"b4d2e160-478b-45e0-ba5d-ea72c2f6d430","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.status }}","rightValue":"added"}]},"options":{}},"id":"40897667-54ce-4f70-bbd4-8118177c5417","name":"Filter created workflows","type":"n8n-nodes-base.filter","position":[1280,480],"typeVersion":2.2},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables').item.json.github_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables').item.json.repo_name }}"},"filePath":"={{ $json.filename }}","asBinaryProperty":false,"additionalParameters":{}},"id":"ad10da4b-6a95-46e6-81e1-071004fbd925","name":"Fetch workflow content from Git","type":"n8n-nodes-base.github","position":[1500,480],"webhookId":"afd9f010-9707-4778-bc4a-d933198d8727","typeVersion":1.1,"credentials":{"githubApi":{"id":"jcyVSwzLnleTjYt8","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables').item.json.github_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables').item.json.repo_name }}"},"filePath":"={{ $json.filename }}","asBinaryProperty":false,"additionalParameters":{}},"id":"c4623e50-d282-41b6-9e4e-775de38e5e13","name":"Fetch workflow content from Git1","type":"n8n-nodes-base.github","position":[1500,280],"webhookId":"afd9f010-9707-4778-bc4a-d933198d8727","typeVersion":1.1,"credentials":{"githubApi":{"id":"jcyVSwzLnleTjYt8","name":"GitHub account"}}},{"parameters":{"mode":"raw","jsonOutput":"={{  $json.content.base64Decode() }}","options":{}},"id":"583c1bad-025b-4ba3-982e-db5699585f1e","name":"Decode workflow content to json","type":"n8n-nodes-base.set","position":[1720,280],"typeVersion":3.4},{"parameters":{"mode":"raw","jsonOutput":"={{  $json.content.base64Decode() }}","options":{}},"id":"73b38522-f7d2-4ef0-9a9c-2413cb07f8b1","name":"Decode workflow content to json1","type":"n8n-nodes-base.set","position":[1720,480],"typeVersion":3.4},{"parameters":{"operation":"update","workflowId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"workflowObject":"={{ $json.toJsonString() }}","requestOptions":{}},"id":"eb112064-d02a-4bfc-9329-5b393ff7f685","name":"Update workflow in n8n","type":"n8n-nodes-base.n8n","position":[1940,280],"typeVersion":1},{"parameters":{"operation":"create","workflowObject":"={{ $json.toJsonString()  }}","requestOptions":{}},"id":"d6dfef33-74d9-42d1-93ed-589dc9282914","name":"Create new workflow in n8n","type":"n8n-nodes-base.n8n","position":[1940,480],"typeVersion":1},{"parameters":{"content":"## セットアップ\n\n1. **GitHubの接続**: `GitHub Trigger`ノードを使用して、GitHub API認証情報を設定します。\n注意: `repo`と`admin:repo_hook`権限スコープが有効になっている*GitHub PAT (Personal Access Token) classic*の使用を推奨します。\n2. **n8n APIの接続**: `n8n`ノードにn8n API認証情報を設定します。 - [このドキュメントを確認](https://docs.n8n.io/api/authentication/)\n3. **リポジトリ変数の設定**: **Define Local Variables**ノードで`github_owner`と`repo_name`を更新します。\n4. **Webhookの有効化**: GitHubリポジトリがこのワークフローを指す`pull_request`イベント用のWebhookを持っていることを確認してください。","height":320,"width":420},"id":"f0833876-f7ae-4a29-88e1-7782bcea0cb0","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[20,0],"typeVersion":1}],"connections":{"Define Local Variables":{"main":[[{"node":"Check if trigger event is pull request merged","type":"main","index":0}]]},"Filter created workflows":{"main":[[{"node":"Fetch workflow content from Git","type":"main","index":0}]]},"Filter modified workflows":{"main":[[{"node":"Fetch workflow content from Git1","type":"main","index":0}]]},"Get files changes details":{"main":[[{"node":"Filter modified workflows","type":"main","index":0},{"node":"Filter created workflows","type":"main","index":0}]]},"Decode workflow content to json":{"main":[[{"node":"Update workflow in n8n","type":"main","index":0}]]},"Fetch workflow content from Git":{"main":[[{"node":"Decode workflow content to json1","type":"main","index":0}]]},"Decode workflow content to json1":{"main":[[{"node":"Create new workflow in n8n","type":"main","index":0}]]},"Fetch workflow content from Git1":{"main":[[{"node":"Decode workflow content to json","type":"main","index":0}]]},"Fetch merged commit details via GitHub API":{"main":[[{"node":"Get files changes details","type":"main","index":0}]]},"Check if trigger event is pull request merged":{"main":[[{"node":"Fetch merged commit details via GitHub API","type":"main","index":0}]]},"Github Trigger - When there is new pull request":{"main":[[{"node":"Define Local Variables","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1"},"versionId":"18bc015d-9757-48ad-a974-0ad17d9d8fc5","meta":{"instanceId":"cadf0b85d4005271946499c61f49970d7be5491fe2c28967cd0fd9f759fdd77d"},"id":"DcYoqKG8AfyKlT6f","tags":[]}